@{
}




<input type="text" id="cName" />
<button id="addButton">Gönder</button>


<table id="categoryTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="input">
    <input id="updateInput" type="text" />
    <button id="btnSave">Kaydet</button>
</div>

@section scripts{

    <script>

        $(document).ready(function () {
            GetDataTable();

            $("#input").hide();

            $(document).on("click", ".btn_sil", function () {
                var value = $(this).val();
                $.ajax({
                    url: '/Category/Delete/' + value,
                    type: 'DELETE',
                    success: function (result) {
                        console.log(result);
                        GetDataTable();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);
                    }
                });
            });

            var id = 0;

            $(document).on("click", ".btn_update", function () {

                id = $(this).val();
                console.log(id);
                $("#input").show();

                var name = $(this).attr("name");
                $("#updateInput").val(name);


                $("#btnSave").unbind("click");

                $("#btnSave").click(function () {
                    
                    var newName = $("#updateInput").val();
                    $.ajax({
                        url: '/Category/Update/' + id,
                        type: 'PUT',
                        data: { id: id, name: newName },
                        success: function (result) {
                            GetDataTable();
                            $("#input").hide();
                            console.log(result);
                            
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                        }
                    });
                });
            });

            $("#addButton").click(function () {
                var category = new Object();
                category.Name = $("#cName").val();
                category.Id = 0;
                $.ajax({
                    type: "POST",
                    url: "/Category/AddCategory",
                    data: JSON.stringify(category),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        var jsonResponse = JSON.parse(response);
                        if (response != null) {
                            GetDataTable();

                        } else {
                            console.log(response);
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });
        });

        function GetDataTable() {
            $.ajax({
                url: "/Category/GetCategories",
                type: "GET",
                success: function (data) {
                    var table = $("#categoryTable").DataTable();
                    table.clear().draw();
                    $.each(data, function (index, data) {
                        table.row.add([
                            index + 1,
                            data.name,
                            '<td> <button type="button" class= "btn btn-warning btn_update" value ="' + data.id + '" name ="' + data.name + '" > Güncelle </button> <button type="button" value ="' + data.id + '"class= "btn btn-danger btn_sil" > Sil </button></td>',
                            table.row
                        ]).draw();
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }





    </script>

}
